* {
}
.App {
  text-align: center;
}
body {
  background-color: #333333;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    flex: 0, 0, 0;
    max-width: 100%;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbarColor {
  background-color: #000;
  color: #fff;
  padding-left: 50px !important;
  padding-right: 50px !important;
  font-size: 2rem;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-right: 1rem;

  line-height: inherit;
  white-space: nowrap;
}

.buyButton {
  background-color: #00c075 !important;
  border: 1px solid #00c075 !important;
}
.sellButton {
  background-color: #f8485f !important;

  border: 1px solid #f8485f !important;
}
.cardPlaceOrder {
  position: relativ !important;
  display: flex !important;
  flex-direction: column !important;
  min-width: 0 !important;
  word-wrap: break-word !important;
  background-color: #fff !important;
  background-clip: border-box !important;
}

.changeBack {
  background-color: #12171d;
  color: #fff;
  border: 1px solid #333333;
}
